# ===============================
# NODE
# ===============================
node_modules/

# ===============================
# ENV
# ===============================
.env
.env.local
.env.development
.env.production

# ===============================
# LOGS
# ===============================
logs/
*.log
npm-debug.log*

# ===============================
# BUILD / CACHE
# ===============================
dist/
build/
tmp/
.cache/

# ===============================
# UPLOADS (IMPORTANT)
# ===============================
uploads/
public/uploads/

# ===============================
# DATABASE / SECRETS
# ===============================
*.sqlite
*.sqlite3
*.db

# ===============================
# SYSTEM
# ===============================
.DS_Store
Thumbs.db

# ===============================
# EDITOR
# ===============================
.vscode/
.idea/
*.swp
